#container {
  padding-top: 0px;
  margin-bottom: 10px;
  max-width: 300px;

  &:hover {
    cursor: pointer;
    
  }

  &:hover img {
    border-bottom: 2px solid red;
    border-radius: 5px;
  }
}

img {
  height: 150px;
  width: 300px;
}
