* {
  margin: 0px;
  padding: 0px;
}

.toolbar {
  height: 60px;
  width: 100vw;
  font-weight: 600;
  background-color: red;
  color: #fffdfc;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  background-color: #fffdfc;
}

app-hsl-list {
    border-left: 1px solid #ccc;
    height: 100vh;
}

app-video-player {
    height: 100vh;
    padding: 20px;
}
