* {
  margin: 0px;
  padding: 0px;
}

.toolbar {
  height: 60px;
  width: 100vw;
  font-weight: 600;
  background-color: #0b8457;
  color: #fffdfc;
  display: flex;
  align-items: center;
  padding-left: 20px;

  p {
    color: #fff;
  }
}

.content {
  background-color: #fffdfc;
}

app-hsl-list {
    border-left: 1px solid #ccc;
    height: 100vh;
}

app-video-player {
    height: 100vh;
    padding: 20px;
    max-width: 1200px;
}
