<!-- Toolbar -->
<div class="toolbar" role="banner" fxLayout="row">
  <p>HSL Video Player</p>
</div>

<div class="content" role="main">
  <!-- Resources -->
  <div 
    id="video-content" 
    fxLayout="row" 
    fxLayout.xs="column" 
    fxLayout.sm="column" 
  >
    <app-video-player [videoUrl]=loadedVideo [videoDescription]=videoDescription fxFlex="5 1 auto"></app-video-player>
    <app-hsl-list (urlChange)="loadVideo($event)" (description)="loadDescription($event)" fxFlex="1 1 auto"></app-hsl-list>
  </div>
  <input type="hidden" #selection>
</div>
