  <div id="container" fxLayout="column" >
    <video id="video" #video autoplay></video>
    <div id="controls">
      <div id='loader'>
        <div id="orange-bar">
        </div>
      </div>
      <br />
      <div id="buttons">
        <a href="#" (click)="togglePause()"><mat-icon style="color: #fff"aria-hidden="false" aria-label="pause" mat-list-icon>{{correctButton}}</mat-icon>
        </a>
      </div>
    </div>
  </div>
<!-- move this somewhere else -->
  <div id="videoTitle">
    <h2>{{videoDescription}}</h2>
    {{videoUrl}}
  </div>
