#player {
  padding: 20px;

  #canvas { 
    border-radius: 4px;

    #video {
      width: 1000px;
    }
  }

  #videoTitle {
    color: #08102B;
  }

  #controls {
    width: 1000px;
    display: flex;
    margin-top: 10px;
    a{
      margin-right: 20px;
    }

    mat-slider {
      position: relative;
      top: -13px;
      flex-grow: 5;
    }
  }
}

.button {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: none;
}
