<div id="player">
  <div id="canvas">
    <video id="video" #video></video>
  </div>
  <div id="controls">
    <button type="button" id="play-button" class="button">Play</button>
    <button type="button" id="pause-button" class="button">Pause</button>
  </div>
  <div id="videoTitle">
    <h2>{{videoDescription}}</h2>
    {{videoUrl}}
  </div>
</div>

<!-- ability to play
ability to pause
display current time duration
advanced to next clip as a bonus
link to assets -> https://g33ktricks.blogspot.com/2016/04/list-of-hls-streaming-video-sample-test.html
   -->
