#player {
  #canvas { 
    border-radius: 4px;
  }

  #videoTitle {
    color: #08102B;
    padding: 10px
  }

  #controls {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:10px;
    a{
      margin-right: 20px;
    }

    mat-slider {
      position: relative;
      top: -13px;
      flex-grow: 5;
    }
  }
}

.button {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: none;
}


.player {
  width: 100%;
  height: 100%;
}
